# Topic

In [3]:
("hello world")

'hello world'

In [4]:
(25)

25

In [6]:
name = "Mohammad taha khan"
fname = "Mohammad ayub khan"
age = 20
print(name)
print(fname)
print(age)

Mohammad taha khan
Mohammad ayub khan
20

In [10]:
# %load students.py
s1 = "mubashir"
s2 = "fasih"
s3 = "sameer"
s4 = "zeeshan"
s5 =  "adil"
print (s1)
print (s3)

mubashir
sameer

In [11]:
%run students.py

In [12]:
import students

In [13]:
print (s3)

sameer

In [14]:
print (s1)

mubashir

In [15]:
(s2)

'fasih'

In [16]:
(s5)

'adil'

In [17]:
(s2),(s3)

('fasih', 'sameer')

In [18]:
(s2,s3)

('fasih', 'sameer')

In [57]:
a=6 #init
b=1.6 #float
c=True #boolean
d=False #boolean
e="ali" #string
names=["mubashir","fasih","sameer","zeeshan","adil"] # list (change able)
ages = [10,20,30,40,50] # list

password=(123,456,789,000) # tuple (not change able)

students={
    'name':'taha',
    'fname':'ayub',
    'age':21,
    'education':'inter'   
} #Dictionary key value pair

In [20]:
a

6

In [22]:
c

True

In [23]:
e

'ali'

In [26]:
names

['mubashir', 'fasih', 'sameer', 'zeeshan', 'adil']

In [27]:
name

'Mohammad taha khan'

In [29]:
age

20

In [30]:
print(names[0])
print(names[3])
print(names[-1])

mubashir
zeeshan
adil

In [31]:
names

['mubashir', 'fasih', 'sameer', 'zeeshan', 'adil']

In [33]:
names[0:2]

['mubashir', 'fasih']

In [35]:
names[:3]

['mubashir', 'fasih', 'sameer']

In [36]:
names[:2]

['mubashir', 'fasih']

In [37]:
names[2:]

['sameer', 'zeeshan', 'adil']

In [38]:
names[::2]

['mubashir', 'sameer', 'adil']

In [43]:
names[0]="Zubair"
print(names)

['Zubair', 'fasih', 'sameer', 'zeeshan', 'adil']

In [44]:
names[0]="taha"
print(names)

['taha', 'fasih', 'sameer', 'zeeshan', 'adil']

# tuple

In [46]:
password

(123, 456, 789, 0)

In [47]:
password[0]

123

In [48]:
password[0]='777' #tuple not change able

TypeError: 'tuple' object does not support item assignment

# Dictionary

In [49]:
students

{'name': 'taha', 'fname': 'ayub', 'age': 21, 'qualification': 'intermediate'}

In [51]:
students['name']

'taha'

In [60]:
students['education']

'inter'

In [61]:
students.keys()

dict_keys(['name', 'fname', 'age', 'education'])

In [63]:
students.values()

dict_values(['taha', 'ayub', 21, 'inter'])

In [64]:
name

'Mohammad taha khan'

In [65]:
age

20

In [67]:
fname

'Mohammad ayub khan'

In [68]:
s3

'sameer'

In [73]:
names[:2]

['mubashir', 'fasih']

In [74]:
5==7

False

In [75]:
6==9

False

In [77]:
6>7

False

In [78]:
7>8

False

In [79]:
7>4

True

In [80]:
5!=7 #not change able

True

In [81]:
10>10

False

In [82]:
10>5

True

In [83]:
ages

[10, 20, 30, 40, 50]

In [84]:
10 in ages

True

In [85]:
40 in ages

True

In [88]:
30 in ages

True

In [89]:
20 in ages

True