# Dictionary

In [10]:
std={
    'name':'john',
    'f.name':'mark',
    'age': 20,
    'city' : 'newyork'
}

In [8]:
std1

{'name': 'john', 'f.name': 'mark', 'age': 20, 'city': 'newyork'}

In [11]:
std['name']

'john'

In [12]:
std['city']

'newyork'

In [14]:
std['age']

20

In [15]:
std.keys()

dict_keys(['name', 'f.name', 'age', 'city'])

In [21]:
std.keys()

dict_keys(['name', 'f.name', 'age', 'city'])

In [22]:
std.values()

dict_values(['john', 'mark', 20, 'newyork'])

In [23]:
std.items()

dict_items([('name', 'john'), ('f.name', 'mark'), ('age', 20), ('city', 'newyork')])

In [24]:
std

{'name': 'john', 'f.name': 'mark', 'age': 20, 'city': 'newyork'}

In [25]:
std={
    'name':'john',
    'f.name':'mark',
    'age': 20,
    'city' : 'newyork',
    'qualification' : ['inter','matric','master']
}

In [26]:
std

{'name': 'john',
 'f.name': 'mark',
 'age': 20,
 'city': 'newyork',
 'qualification': ['inter', 'matric', 'master']}

In [28]:
std['qualification']

['inter', 'matric', 'master']

In [29]:
std['qualification'].append('graduat')
std

{'name': 'john',
 'f.name': 'mark',
 'age': 20,
 'city': 'newyork',
 'qualification': ['inter', 'matric', 'master', 'graduat']}

In [31]:
std['qualification'].pop()

'graduat'

In [32]:
std

{'name': 'john',
 'f.name': 'mark',
 'age': 20,
 'city': 'newyork',
 'qualification': ['inter', 'matric', 'master']}

In [33]:
std['qualification'].remove('inter')

In [34]:
std

{'name': 'john',
 'f.name': 'mark',
 'age': 20,
 'city': 'newyork',
 'qualification': ['matric', 'master']}

In [37]:
std['name']

'john'

In [38]:
std.clear()

In [39]:
std

{}

In [40]:
std={
    'name':'john',
    'f.name':'mark',
    'age': 20,
    'city' : 'newyork',
    'qualification' : ['inter','matric','master']
}

In [41]:
std

{'name': 'john',
 'f.name': 'mark',
 'age': 20,
 'city': 'newyork',
 'qualification': ['inter', 'matric', 'master']}

In [42]:
std.popitem()

('qualification', ['inter', 'matric', 'master'])

In [43]:
std

{'name': 'john', 'f.name': 'mark', 'age': 20, 'city': 'newyork'}

In [45]:
std.popitem()

('city', 'newyork')

In [46]:
std

{'name': 'john', 'f.name': 'mark', 'age': 20}

In [48]:
std.get('name')

'john'

In [50]:
std

{'name': 'john', 'f.name': 'mark', 'age': 20}

In [51]:
std1

{'name': 'john', 'f.name': 'mark', 'age': 20, 'city': 'newyork'}