# list with pre define functions
- slicing
- apeend
- pop
- remove
- insert

# list

In [5]:
names = ['zubair','taha','khan','junaid','adil','zeeshan','ebad','ashraf']
names

['zubair', 'taha', 'khan', 'junaid', 'adil', 'zeeshan', 'ebad', 'ashraf']

In [6]:
ages = [21,20,22,23,24,25,26,27,28]
ages

[21, 20, 22, 23, 24, 25, 26, 27, 28]

In [7]:
l = ['hamza',29,True,20.22,names]
l

['hamza',
 29,
 True,
 20.22,
 ['zubair', 'taha', 'khan', 'junaid', 'adil', 'zeeshan', 'ebad', 'ashraf']]

In [9]:
l = ['characters',names,ages]
l

['characters',
 ['zubair', 'taha', 'khan', 'junaid', 'adil', 'zeeshan', 'ebad', 'ashraf'],
 [21, 20, 22, 23, 24, 25, 26, 27, 28]]

# slicing

In [10]:
names

['zubair', 'taha', 'khan', 'junaid', 'adil', 'zeeshan', 'ebad', 'ashraf']

In [11]:
print(names[-2])

ebad

In [12]:
names[-3]

'zeeshan'

In [13]:
names[3]

'junaid'

In [16]:
names[2:5]

['khan', 'junaid', 'adil']

In [17]:
names[::2]

['zubair', 'khan', 'adil', 'ebad']

In [18]:
names[:2]

['zubair', 'taha']

In [19]:
names[:5]

['zubair', 'taha', 'khan', 'junaid', 'adil']

In [20]:
names[2:]

['khan', 'junaid', 'adil', 'zeeshan', 'ebad', 'ashraf']

In [21]:
students = names

In [22]:
students

['zubair', 'taha', 'khan', 'junaid', 'adil', 'zeeshan', 'ebad', 'ashraf']

In [23]:
students[1]="hamza"
students

['zubair', 'hamza', 'khan', 'junaid', 'adil', 'zeeshan', 'ebad', 'ashraf']

In [24]:
names

['zubair', 'hamza', 'khan', 'junaid', 'adil', 'zeeshan', 'ebad', 'ashraf']

In [25]:
id(names[1])

2530946796264

In [26]:
id(students[1])

2530946796264

In [27]:
new_students = names[:]
new_students[1]="MTK"
new_students

['zubair', 'MTK', 'khan', 'junaid', 'adil', 'zeeshan', 'ebad', 'ashraf']

In [28]:
students

['zubair', 'hamza', 'khan', 'junaid', 'adil', 'zeeshan', 'ebad', 'ashraf']

In [30]:
id(students[1])

2530946796264

In [31]:
id(names[1])

2530946796264

In [32]:
id(new_students[1])

2530946845640

In [33]:
new_students[1:3]="hamza"
new_students

['zubair',
 'h',
 'a',
 'm',
 'z',
 'a',
 'junaid',
 'adil',
 'zeeshan',
 'ebad',
 'ashraf']

In [34]:
new_students[2]="taha"
new_students

['zubair',
 'h',
 'taha',
 'm',
 'z',
 'a',
 'junaid',
 'adil',
 'zeeshan',
 'ebad',
 'ashraf']

In [36]:
new_students[1]="moiz"

In [37]:
new_students[3]="shehzad"

In [38]:
new_students[4]="asif"

In [41]:
new_students[5]="khan"

In [42]:
new_students

['zubair',
 'moiz',
 'taha',
 'shehzad',
 'asif',
 'khan',
 'junaid',
 'adil',
 'zeeshan',
 'ebad',
 'ashraf']

In [45]:
names[1:3]="0"

In [46]:
names

['zubair', '0', 'junaid', 'adil', 'zeeshan', 'ebad', 'ashraf']

In [47]:
names[-3]

'zeeshan'

# list pre define functions

In [48]:
names

['zubair', '0', 'junaid', 'adil', 'zeeshan', 'ebad', 'ashraf']

In [49]:
names +=['rashid','sohail','afzal','imran']
names

['zubair',
 '0',
 'junaid',
 'adil',
 'zeeshan',
 'ebad',
 'ashraf',
 'rashid',
 'sohail',
 'afzal',
 'imran']

In [50]:
names

['zubair',
 '0',
 'junaid',
 'adil',
 'zeeshan',
 'ebad',
 'ashraf',
 'rashid',
 'sohail',
 'afzal',
 'imran']

In [52]:
new_students

['zubair',
 'moiz',
 'taha',
 'shehzad',
 'asif',
 'khan',
 'junaid',
 'adil',
 'zeeshan',
 'ebad',
 'ashraf']

In [53]:
new_students[1]="sohail"

In [54]:
new_students

['zubair',
 'sohail',
 'taha',
 'shehzad',
 'asif',
 'khan',
 'junaid',
 'adil',
 'zeeshan',
 'ebad',
 'ashraf']

In [56]:
new_students[0]="shiekh"

In [57]:
new_students

['shiekh',
 'sohail',
 'taha',
 'shehzad',
 'asif',
 'khan',
 'junaid',
 'adil',
 'zeeshan',
 'ebad',
 'ashraf']

In [58]:
names

['zubair',
 '0',
 'junaid',
 'adil',
 'zeeshan',
 'ebad',
 'ashraf',
 'rashid',
 'sohail',
 'afzal',
 'imran']

In [59]:
names.append('hassan')
names

['zubair',
 '0',
 'junaid',
 'adil',
 'zeeshan',
 'ebad',
 'ashraf',
 'rashid',
 'sohail',
 'afzal',
 'imran',
 'hassan']

In [60]:
names.insert(0,"ali")
names.insert(3,"abid khan")
names

['ali',
 'zubair',
 '0',
 'abid khan',
 'junaid',
 'adil',
 'zeeshan',
 'ebad',
 'ashraf',
 'rashid',
 'sohail',
 'afzal',
 'imran',
 'hassan']

In [63]:
names.insert(0,"khurram")
names

['khurram',
 'khurram',
 'ali',
 'zubair',
 '0',
 'abid khan',
 'junaid',
 'adil',
 'zeeshan',
 'ebad',
 'ashraf',
 'rashid',
 'sohail',
 'afzal',
 'imran',
 'hassan']

In [65]:
names[0]="azim"
names

['azim',
 'khurram',
 'ali',
 'zubair',
 '0',
 'abid khan',
 'junaid',
 'adil',
 'zeeshan',
 'ebad',
 'ashraf',
 'rashid',
 'sohail',
 'afzal',
 'imran',
 'hassan']

In [72]:
names.pop()

'rashid'

In [73]:
names

['azim',
 'khurram',
 'ali',
 'zubair',
 '0',
 'abid khan',
 'junaid',
 'adil',
 'zeeshan',
 'ebad',
 'ashraf']

In [74]:
names.remove('0')
names

['azim',
 'khurram',
 'ali',
 'zubair',
 'abid khan',
 'junaid',
 'adil',
 'zeeshan',
 'ebad',
 'ashraf']

In [76]:
names.sort()
names

['abid khan',
 'adil',
 'ali',
 'ashraf',
 'azim',
 'ebad',
 'junaid',
 'khurram',
 'zeeshan',
 'zubair']

In [77]:
names.sort(reverse=True)
names

['zubair',
 'zeeshan',
 'khurram',
 'junaid',
 'ebad',
 'azim',
 'ashraf',
 'ali',
 'adil',
 'abid khan']

In [81]:
names.sort()
names

['abid khan',
 'adil',
 'ali',
 'ashraf',
 'azim',
 'ebad',
 'junaid',
 'khurram',
 'zeeshan',
 'zubair']

In [82]:
abc=names.copy()
abc

['abid khan',
 'adil',
 'ali',
 'ashraf',
 'azim',
 'ebad',
 'junaid',
 'khurram',
 'zeeshan',
 'zubair']

In [83]:
xyz=['sarfraz','ahmad']
names.extend(xyz)

In [84]:
names

['abid khan',
 'adil',
 'ali',
 'ashraf',
 'azim',
 'ebad',
 'junaid',
 'khurram',
 'zeeshan',
 'zubair',
 'sarfraz',
 'ahmad']

In [87]:
names.extend("hello")

In [88]:
names

['abid khan',
 'adil',
 'ali',
 'ashraf',
 'azim',
 'ebad',
 'junaid',
 'khurram',
 'zeeshan',
 'zubair',
 'sarfraz',
 'ahmad',
 'h',
 'e',
 'l',
 'l',
 'o']

In [92]:
names.extend("john")
names.pop
names

['abid khan',
 'adil',
 'ali',
 'ashraf',
 'azim',
 'ebad',
 'junaid',
 'khurram',
 'zeeshan',
 'zubair',
 'sarfraz',
 'ahmad',
 'h',
 'e',
 'l',
 'l',
 'o',
 'j',
 'o',
 'h',
 'n',
 'j',
 'o',
 'h',
 'n',
 'j',
 'o',
 'h',
 'n']

In [105]:
names.pop()
names

['abid khan',
 'adil',
 'ali',
 'ashraf',
 'azim',
 'ebad',
 'junaid',
 'khurram',
 'zeeshan',
 'zubair',
 'sarfraz',
 'ahmad',
 'h',
 'e',
 'l',
 'l',
 'o',
 'j',
 'o']

In [108]:
names.count("khurram")
names

['abid khan',
 'adil',
 'ali',
 'ashraf',
 'azim',
 'ebad',
 'junaid',
 'khurram',
 'zeeshan',
 'zubair',
 'sarfraz',
 'ahmad',
 'h',
 'e',
 'l',
 'l',
 'o',
 'j',
 'o']

In [113]:
names.index('ali')

2

In [114]:
names.index('junaid')

6

In [118]:
names.index('zubair')

9

In [119]:
names

['abid khan',
 'adil',
 'ali',
 'ashraf',
 'azim',
 'ebad',
 'junaid',
 'khurram',
 'zeeshan',
 'zubair',
 'sarfraz',
 'ahmad',
 'h',
 'e',
 'l',
 'l',
 'o',
 'j',
 'o']

In [120]:
names[2:]

['ali',
 'ashraf',
 'azim',
 'ebad',
 'junaid',
 'khurram',
 'zeeshan',
 'zubair',
 'sarfraz',
 'ahmad',
 'h',
 'e',
 'l',
 'l',
 'o',
 'j',
 'o']

In [121]:
names[:5]

['abid khan', 'adil', 'ali', 'ashraf', 'azim']

In [122]:
names[1]="tariq"
names

['abid khan',
 'tariq',
 'ali',
 'ashraf',
 'azim',
 'ebad',
 'junaid',
 'khurram',
 'zeeshan',
 'zubair',
 'sarfraz',
 'ahmad',
 'h',
 'e',
 'l',
 'l',
 'o',
 'j',
 'o']

In [123]:
names[4]="nasir"
names

['abid khan',
 'tariq',
 'ali',
 'ashraf',
 'nasir',
 'ebad',
 'junaid',
 'khurram',
 'zeeshan',
 'zubair',
 'sarfraz',
 'ahmad',
 'h',
 'e',
 'l',
 'l',
 'o',
 'j',
 'o']

In [125]:
names.pop()
names

['abid khan',
 'tariq',
 'ali',
 'ashraf',
 'nasir',
 'ebad',
 'junaid',
 'khurram',
 'zeeshan',
 'zubair',
 'sarfraz',
 'ahmad',
 'h',
 'e',
 'l',
 'l',
 'o']

In [126]:
names.remove('h')
names

['abid khan',
 'tariq',
 'ali',
 'ashraf',
 'nasir',
 'ebad',
 'junaid',
 'khurram',
 'zeeshan',
 'zubair',
 'sarfraz',
 'ahmad',
 'e',
 'l',
 'l',
 'o']

In [131]:
names.remove('o')
names

['abid khan',
 'tariq',
 'ali',
 'ashraf',
 'nasir',
 'ebad',
 'junaid',
 'khurram',
 'zeeshan',
 'zubair',
 'sarfraz',
 'ahmad']

In [132]:
newlist = ["zain","zafar"]

In [133]:
newlist

['zain', 'zafar']

In [136]:
n=newlist

In [137]:
n

['zain', 'zafar']

In [138]:
names.extend(n)

In [139]:
names

['abid khan',
 'tariq',
 'ali',
 'ashraf',
 'nasir',
 'ebad',
 'junaid',
 'khurram',
 'zeeshan',
 'zubair',
 'sarfraz',
 'ahmad',
 'zain',
 'zafar']

In [142]:
names.append('k')

In [143]:
names

['abid khan',
 'tariq',
 'ali',
 'ashraf',
 'nasir',
 'ebad',
 'junaid',
 'khurram',
 'zeeshan',
 'zubair',
 'sarfraz',
 'ahmad',
 'zain',
 'zafar',
 'k']

In [144]:
names.remove('k')

In [145]:
names

['abid khan',
 'tariq',
 'ali',
 'ashraf',
 'nasir',
 'ebad',
 'junaid',
 'khurram',
 'zeeshan',
 'zubair',
 'sarfraz',
 'ahmad',
 'zain',
 'zafar']

In [146]:
names.pop(1)

'tariq'

In [147]:
names

['abid khan',
 'ali',
 'ashraf',
 'nasir',
 'ebad',
 'junaid',
 'khurram',
 'zeeshan',
 'zubair',
 'sarfraz',
 'ahmad',
 'zain',
 'zafar']

In [148]:
names.count('zubair')

1

In [149]:
names

['abid khan',
 'ali',
 'ashraf',
 'nasir',
 'ebad',
 'junaid',
 'khurram',
 'zeeshan',
 'zubair',
 'sarfraz',
 'ahmad',
 'zain',
 'zafar']

In [150]:
n

['zain', 'zafar']

In [156]:
n.append('ali')

In [157]:
n

['zain', 'zafar', 'ali']

In [158]:
names.extend(n)

In [159]:
names

['abid khan',
 'ali',
 'ashraf',
 'nasir',
 'ebad',
 'junaid',
 'khurram',
 'zeeshan',
 'zubair',
 'sarfraz',
 'ahmad',
 'zain',
 'zafar',
 'zain',
 'zafar',
 'ali']

In [160]:
names.count('ali')

2

In [161]:
names.remove('ebad')
names

['abid khan',
 'ali',
 'ashraf',
 'nasir',
 'junaid',
 'khurram',
 'zeeshan',
 'zubair',
 'sarfraz',
 'ahmad',
 'zain',
 'zafar',
 'zain',
 'zafar',
 'ali']