In [6]:
name=input("Enter your name: ")

Enter your name: MOHAMMAD TAHA KHAN

In [13]:
password=input("Enter your password: ")

Enter your password: 0331

In [8]:
age=input("Enter your age: ")

Enter your age: 20

In [9]:
age

'20'

In [10]:
name

'MOHAMMAD TAHA KHAN'

In [15]:
password

'0331'

In [18]:
name = ("taha","khan")

In [19]:
name

('taha', 'khan')

In [25]:
age.capitalize(m)

NameError: name 'm' is not defined

In [26]:
name

('taha', 'khan')

In [27]:
name.index('khan')

1

In [31]:
name.remove('khan')

AttributeError: 'tuple' object has no attribute 'remove'